.a:hover .b {
    display: flex !important;
}

.b {
    display: none !important;
}

#listItems {
    transition: 30s ease-in-out;
}

.navInnerItems:hover {
    color: #1e3a8a !important;
    background: white;
}

#aboutItems,
#programmesItems,
#carriersItems {
    display: none;
}

.logo {
    background-image: url('Assets/logo.png');
    background-position: center;
    background-size: cover;
}